*,html {
    padding: 0;
    margin: 0;
}
body{
    margin: 0 auto;
    align-items: center;
    text-align: center;
    background-color: black;
}
h1 {
    color: aliceblue;
    font-size: 9em;
    text-align: center;
}
